<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test eCharts</title>
<script type="text/javascript" src="test.js"></script>
<script type="text/javascript" src="echarts.common.min.js"></script>
<style>

	.rotate{
		transform:rotate(90deg);
-ms-transform:rotate(90deg); /* Internet Explorer */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
-o-transform:rotate(90deg); /* Opera */
	}
</style>

</head>
<body>


	<!--Step:1 Prepare a dom for ECharts which (must) has size (width & hight)-->
	<!--Step:1 为ECharts准备一个具备大小（宽高）的Dom-->
	<div id="mainBar"  
		style="height: 300px; border: 1px solid #ccc; padding: 10px;"></div>
	<div id="but" style="width:100px;height:20px;border:1px solid #ccc" onclick="but1click()">条形图</div>
	<div id="but1" style="width:100px;height:20px;border:1px solid #ccc" onclick="but2click()">柱状图</div>
	<div id="but2" style="width:100px;height:20px;border:1px solid #ccc">重新加载</div>

	<!--Step:2 Import echarts.js-->
	<!--Step:2 引入echarts.js-->


	<script type="text/javascript">
		// Step:3 conifg ECharts's path, link to echarts.js from current page.  
		// Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径
		</script>

	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('mainBar'));
			myChart.showLoading();
			//定义图表option  
			option = {
				title : {
					text: '2012年1月销售数据',
					subtext: '所有商场'
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					data:['2012年1月']
				},
				toolbox: {
					show : true,
					feature : {
						dataView : {show: true, readOnly: false},
						magicType: {show: true, type: ['line', 'bar']},
						restore : {show: true},
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'value',
						boundaryGap : [0, 0.01]
					}
				],
				yAxis : [
					{
						type : 'category',
						data : ['张三','李四','王五','赵六','宋七','钱八','周九']
					}
				],
				series : [
				   
					{
						name:'数量',
						type:'bar',
						data:[100, 210, 30, 45, 502, 68,321]
					}
				]
			};
			
            //but1click();
			//为echarts对象加载数据              
			myChart.setOption(option);
			window.onresize = myChart.resize;
		    myChart.hideLoading();

function but1click(){
var mb=document.getElementById('mainBar');
mb.className="rotate";
var width=mb.clientWidth;
var height=mb.clientHeight;
mb.style.marginTop=width/2+100+"px";;
mb.style.marginLeft=-width/2+10+"px";
//window.width=322;
//window.height=964;
}
function but2click(){
var mb=document.getElementById('mainBar');
mb.className="";
mb.style.marginTop="0px";;
mb.style.marginLeft="0px";
}
	</script>
</body>
</html>