<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test eCharts</title>
<script type="text/javascript" src="test.js"></script>
<script type="text/javascript" src="echarts.common.min.js"></script>

</head>
<body>


	<!--Step:1 Prepare a dom for ECharts which (must) has size (width & hight)-->
	<!--Step:1 为ECharts准备一个具备大小（宽高）的Dom-->
	<div id="mainBar"
		style="height: 300px; border: 1px solid #ccc; padding: 10px;"></div>
	<div id="but" style="width:100px;height:20px;border:1px solid #ccc">条形图</div>
	<div id="but1" style="width:100px;height:20px;border:1px solid #ccc">柱状图</div>
	<div id="but2" style="width:100px;height:20px;border:1px solid #ccc">重新加载</div>

	<!--Step:2 Import echarts.js-->
	<!--Step:2 引入echarts.js-->


	<script type="text/javascript">
		// Step:3 conifg ECharts's path, link to echarts.js from current page.  
		// Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径
		</script>

	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('mainBar'));
		var but = document.getElementById('but');
		var but1 = document.getElementById('but1');
		var but2 = document.getElementById('but2');
		window.onDeviceOneLoaded = function() {
			myChart.showLoading();
			var nf=sm("do_Notification");
			var do_Page = sm("do_Page");
			//deviceone.print(require)
			//定义图表option  
			option = {
				title : {
					text: '2012年1月销售数据',
					subtext: '所有商场'
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					data:['2012年1月']
				},
				toolbox: {
					show : true,
					feature : {
						dataView : {show: true, readOnly: false},
						magicType: {show: true, type: ['line', 'bar']},
						restore : {show: true},
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'value',
						boundaryGap : [0, 0.01]
					}
				],
				yAxis : [
					{
						type : 'category',
						data : ['张三','李四','王五','赵六','宋七','钱八','周九']
					}
				],
				series : [
				   
					{
						name:'数量',
						type:'bar',
						data:[100, 210, 30, 45, 502, 68,321]
					}
				]
			};
			
			option1 = {
				title : {
					text: '销量比较',
					subtext: '所有商场'
				},
				tooltip : {
					trigger: 'axis'
				},
				legend: {
					data:['2015年','2016年']
				},
				toolbox: {
					show : true,
					feature : {
						dataView : {show: true, readOnly: false},
						magicType : {show: true, type: ['line', 'bar']},
						restore : {show: true}
					}
				},
				calculable : true,
				xAxis : [
					{
						type : 'category',
						data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
					}
				],
				yAxis : [
					{
						type : 'value'
					}
				],
				series : [
					{
						name:'2015年',
						type:'bar',
						data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
						markPoint : {
							data : [
								{type : 'max', name: '最大值'},
								{type : 'min', name: '最小值'}
							]
						},
						markLine : {
							data : [
								{type : 'average', name: '平均值'}
							]
						}
					},
					{
						name:'2016年',
						type:'bar',
						data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
						markPoint : {
							data : [
								{name : '年最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
								{name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
							]
						},
						markLine : {
							data : [
								{type : 'average', name : '平均值'}
							]
						}
					}
				]
			};
                    
			//为echarts对象加载数据              
			myChart.setOption(option);
			window.onresize = myChart.resize;
		    myChart.hideLoading();

		    myChart.on("click", function(data) {
				var s = "";
				for (v in data) {
					s += (v + ":" + data[v] + ";\r\n");
				}
				nf.alert("你点击了数据：\r\n" + s);
			});
			
			//刷新报表
			do_Page.on("refreshChar", function(data) {
				switch (data) {
				case "line":
					line();
					break;
				case "bar":
					bar();
					break;

				default:
					line;
					break;
				}
				
			});
			
			function line(){
				myChart.clear();
				myChart.showLoading();
				myChart.setOption(option);
				window.onresize = myChart.resize;
			    myChart.hideLoading();
			}
			function bar(){
				myChart.clear();
				myChart.showLoading();
				myChart.setOption(option1);
				window.onresize = myChart.resize;
			    myChart.hideLoading();
			}
		}
	</script>
</body>
</html>